.cust-navbar{
    background-color: black;

}
.cust-navbar-container-fluid{
   margin-left:40px;
   margin-right:40px;
}
.cust-navbar-search{
    border-left: 0;
    border-right: 0;
    border-top:0;
    background-color: black;
}
@media only screen and (max-width:990px){
    .cust-navbar-home-mylist{
     margin-left:85%;
    }
}